/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --base-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 1px 2px -1px rgba(0, 0, 0, 0.3);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background-color: #202023;
  color: #ffffff;
}

#app {
  min-height: 100vh;
  background-image: url('/background.svg');
  background-size: 120rem;
}

/* UI buttons */
button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: max-content;
  width: max-content;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

button.primary {
  background-color: #db1d70;
  color: #ffffff;
}

button.primary:focus {
  outline: 2px solid #db1d70;
  outline-offset: 2px;
}

button.primary:hover {
  background-color: rgb(192, 26, 98);
}

button.secondary {
  background-color: #27272a;
  color: #ffffff;
  border: 1px solid #3f3f46;
}

button.secondary:focus {
  background-color: rgba(255, 255, 255, 0.05);
  outline: 2px solid #3f3f46;
  outline-offset: 2px;
}

button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Login section */
section.login {
  height: 100vh;
  width: 100%;
  opacity: 0;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}

section.login h1.header {
  position: absolute;
  top: 3rem;
}

section.login .buttons {
  display: flex;
  gap: 1.2rem;
}

section.login button.login svg {
  height: 20px;
  width: auto;
}

section.login button.login svg.translate {
  transition: 0.4s;
}

section.login button.login:hover svg.translate {
  transform: translate(2px);
}

section.login button.sign-out {
  display: none;
}

section.login button.sign-out svg {
  height: 20px;
  width: auto;
}

section.login .login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem 3rem 0.5rem;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  background-color: #27272a;
  box-shadow: var(--base-shadow);
}

section.login .login-card span.bottom-msg {
  font-size: 0.75rem;
  color: #a1a1aa;
}

section.login .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

section.login .data img.user-img {
  display: none;
  border-radius: 50%;
  border: 1px solid #3f3f46;
  margin-bottom: 0.25rem;
}

section.login .data h3.name {
  display: none;
  font-weight: 600;
}

section.login .data p.email {
  color: #a1a1aa;
}

/* Chat section */
section.chat {
  height: 100vh;
  display: flex;
  opacity: 0;
  transform: scale(0.8);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

section.chat .chat-app {
  height: 85vh;
  width: 80vw;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  background-color: #202023;
  box-shadow: var(--base-shadow);
  display: flex;
  overflow: hidden;
}

section.chat .chat-app .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 32%;
  border-right: 1px solid #3f3f46;
}

section.chat .chat-app .sidebar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242428;
  border-top-left-radius: 8px;
  border-bottom: 1px solid #3f3f46;
  user-select: none;
}

section.chat .chat-app .sidebar .menu img.user-img {
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid #3f3f46;
  cursor: pointer;
}

section.chat .chat-app .sidebar .menu button.logout-button {
  background-color: transparent;
  color: #ffffff8a;
  fill: #ffffff8a;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

section.chat .chat-app .sidebar .menu button.logout-button:hover {
  background-color: #ffffff0d;
}

section.chat .chat-app .sidebar .menu button.logout-button svg {
  height: 22px;
  width: auto;
}

section.chat .chat-app .sidebar .search {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #3f3f46;
  position: relative;
  z-index: 1;
  flex: none;
}

section.chat .chat-app .sidebar .search .input-field {
  display: flex;
  border: 1px solid #3f3f46;
  padding-inline: 1rem;
  border-radius: 8px;
  width: 100%;
  background-color: #242428;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: 0.4s;
}

section.chat .chat-app .sidebar .search .input-field svg {
  margin: auto;
  fill: #757575;
  transition: 0.2s;
}

section.chat .chat-app .sidebar .search .input-field input {
  background-color: transparent;
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 0;
  border: none;
  border-left-color: transparent;
  color: #ffffffcc;
  outline: none;
}

section.chat .chat-app .sidebar .search .input-field:focus-within svg {
  fill: #ffffffcc;
}

section.chat .chat-app .sidebar .chat-wrapper {
  position: relative;
  flex: 1 1 0;
  order: 3;
  z-index: 1;
}

section.chat .chat-app .sidebar .user-chats {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: background 0.3s ease-out 0.1s;
  scroll-behavior: smooth;
  z-index: 100;
}

section.chat .chat-app .sidebar .user-chats .user {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
}

section.chat .chat-app .sidebar .user-chats .user.active {
  background-color: #313135;
}

section.chat .chat-app .sidebar .user-chats .user.active:hover {
  background-color: #313135;
}

section.chat .chat-app .sidebar .user-chats .user:hover {
  background-color: #27272a;
}

section.chat .chat-app .sidebar .user-chats .user .user-img {
  flex-shrink: 0;
}

section.chat .chat-app .sidebar .user-chats .user .user-img img {
  border-radius: 50%;
}

section.chat .chat-app .sidebar .user-chats .user .user-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #313135;
}

section.chat .chat-app .sidebar .user-chats .user .user-info .top-row {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}

section.chat
  .chat-app
  .sidebar
  .user-chats
  .user
  .user-info
  .top-row
  .user-status {
  font-size: 0.75rem;
  padding-right: 0.25rem;
  color: #ffffff83;
}

section.chat
  .chat-app
  .sidebar
  .user-chats
  .user
  .user-info
  .top-row
  .user-status.online {
  color: lightgreen;
}

section.chat .chat-app .sidebar .user-chats .user .user-info .bottom-row {
  display: flex;
  align-items: center;
}

section.chat
  .chat-app
  .sidebar
  .user-chats
  .user
  .user-info
  .bottom-row
  .recent-message {
  width: 200px;
  font-size: 0.875rem;
  color: #ffffff83;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

section.chat .chat-app .sidebar .user-chats .user .user-info .bottom-row svg {
  fill: #ffffff83;
  padding-right: 0.12rem;
}

/* Chat window */
section.chat .chat-app .chat-window {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 68%;
}

section.chat .chat-app .chat-window .chat-header {
  display: flex;
  padding: 0.5rem 0.75rem;
  background-color: #242428;
  border-bottom: 1px solid #3f3f46;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

section.chat .chat-app .chat-window .chat-header button.menu-button {
  background-color: transparent;
  color: #ffffff8a;
  fill: #ffffff8a;
  padding: 0.5rem;
}

section.chat .chat-app .chat-window .chat-header button.menu-button:hover {
  background-color: #ffffff0d;
}

section.chat .chat-app .chat-window .chat-header .chat-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

section.chat .chat-app .chat-window .chat-header .chat-info .user-img {
  border-radius: 50%;
  border: 1px solid #3f3f46;
}

section.chat .chat-app .chat-window .chat-header .chat-info .user-data {
  display: flex;
  flex-direction: column;
}

section.chat
  .chat-app
  .chat-window
  .chat-header
  .chat-info
  .user-data
  .user-status {
  color: #ffffff83;
  font-size: 0.75rem;
  line-height: 1.2;
}

section.chat
  .chat-app
  .chat-window
  .chat-header
  .chat-info
  .user-data
  .user-status.online {
  color: lightgreen;
}

section.chat .chat-app .chat-window .chat-wrapper {
  position: relative;
  flex: 1 1 0;
  order: 2;
  z-index: 1;
}

section.chat .chat-app .chat-window .chat-list {
  /* variables */
  --sentColor: #0b93f6;
  --receiveColor: #e3e3e3;
  --bg: #202023;

  position: absolute;
  top: 0;
  z-index: 100;
  padding-inline: 0.5rem 0.25rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: background 0.3s ease-out 0.1s;
  scroll-behavior: smooth;
}

section.chat .chat-app .chat-window .chat-list div img {
  z-index: 99;
  margin-bottom: auto;
  border-radius: 50%;
}

section.chat .chat-app .chat-window .chat-list .shared {
  position: relative; /* Setup a relative container for our psuedo elements */
  max-width: 255px;
  margin-bottom: 15px;
  padding: 10px 20px;
  line-height: 24px;
  word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
  border-radius: 25px;
}

section.chat .chat-app .chat-window .chat-list .shared::before,
section.chat .chat-app .chat-window .chat-list .shared::after {
  position: absolute;
  bottom: 0;
  height: 25px; /* height of our bubble "tail" - should match the border-radius above */
  content: '';
}

section.chat .chat-app .chat-window .chat-list .shared::before {
  width: 20px;
}

section.chat .chat-app .chat-window .chat-list .shared::after {
  width: 26px;
  background-color: var(--bg); /* All tails have the same bg cutout */
}

section.chat .chat-app .chat-window .chat-list div.sent {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}

section.chat .chat-app .chat-window .chat-list span.sent {
  color: white;
  width: max-content;
  background: var(--sentColor);
}

section.chat .chat-app .chat-window .chat-list span.sent::before {
  right: -7px;
  background-color: var(--sentColor);
  border-bottom-left-radius: 16px 14px;
}

section.chat .chat-app .chat-window .chat-list span.sent::after {
  right: -26px;
  border-bottom-left-radius: 10px;
}

section.chat .chat-app .chat-window .chat-list div.received {
  display: flex;
  gap: 0.5rem;
  align-self: flex-start;
}

section.chat .chat-app .chat-window .chat-list span.received {
  color: black;
  background: var(--receiveColor);
}

section.chat .chat-app .chat-window .chat-list span.received::before {
  left: -7px;
  background-color: var(--receiveColor);
  border-bottom-right-radius: 16px 14px;
}

section.chat .chat-app .chat-window .chat-list span.received::after {
  left: -26px;
  border-bottom-right-radius: 10px;
}

section.chat .chat-app .chat-window .chat-list span.received.noTail {
  margin-left: 53px;
}

section.chat .chat-app .chat-window .chat-list span.sent.noTail {
  margin-right: 53px;
}

section.chat .chat-app .chat-window .chat-list .noTail {
  margin-bottom: 6px;
}

section.chat .chat-app .chat-window .chat-list .noTail::before,
section.chat .chat-app .chat-window .chat-list .noTail::after {
  opacity: 0;
}

section.chat .chat-app .chat-window .chat-utils {
  /* position: absolute; */
  /* bottom: 0; */
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border-top: 1px solid #3f3f46;
  position: relative;
  z-index: 1;
  flex: none;
  width: 100%;
}

section.chat .chat-app .chat-window .chat-utils input {
  background-color: #242428;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  color: #ffffffcc;
  outline: none;
}

section.chat .chat-app .chat-window .chat-utils button.send-button {
  background-color: transparent;
  color: #ffffff8a;
  fill: #ffffff8a;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: 0.4s;
}

section.chat .chat-app .chat-window .chat-utils button.send-button:hover {
  background-color: #313135;
}

/* Section animation class */
section.animate {
  opacity: 1;
  transform: none;
}

/* Loaders */
.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #202023;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader svg {
  height: 80px;
  width: auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 640px) {
  section.login .login-card {
    width: 100%;
    padding: 2rem 1rem 0.5rem;
    border-radius: 0;
    border-inline: none;
  }
}
